<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="description" content="Onslaught! Arena is an HTML5 game made by Lost Decade Games. Fight off the horde with medieval weapons and powerups!">
	<meta name="keywords" content="onslaught arena, html5, chrome webstore, indie, browser-based, lost decade games, javascript, chiptunes, arcade, retro, oldschool, geoff blair, matt hackett, joshua morse">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/horde.css?v={{VERSION}}">
	<title>Onslaught! Arena</title>
</head>
<body>

	<div class="nav">
		<ul>
			<li><a href="http://goo.gl/Yurpd" target="_blank">Blog</a></li>
			<li><a href="http://goo.gl/As1FV" target="_blank">Support</a></li>
			<li><a href="http://goo.gl/WbQQ3" target="_blank">Twitter</a></li>
			<li><a href="http://goo.gl/CNHBo" target="_blank">Facebook</a></li>
		</ul>
	</div>

	<div id="stage"></div>

	<script>
	/*
	This content (c) copyright 2010 Lost Decade Games, LLC.
	Guys, we worked hard on this. Please don't do anything shady with it.
	Thanks!
	*/
	(function () {
		{{GAME_CODE}}
	}());
	</script>

</body>
</html>
