<!DOCTYPE html>
<html>
<head>
	<title>Onslaught! &bull; an HTML5 medieval fantasy shoot-em-up</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<meta name="description" content="Onslaught! is an HTML5 game made by Lost Decade Games. Fight off the horde with medieval weapons and powerups!">
	<meta name="keywords" content="onslaught, html5, indie, browser-based, lost decade games, javascript, chiptunes, arcade, retro, oldschool, geoff blair, matt hackett, joshua morse">
	<link rel="stylesheet" href="css/horde.css">
</head>
<body>

	<h1>Onslaught! by Lost Decade Games</h1>
	<p>
		<strong>Onslaught!</strong>
		is an HTML5 game made by <a href="http://lostdecadegames.com/">Lost Decade Games</a>.
	</p>
	
	<a id="site_link" target="_blank" href="http://lostdecadegames.com" title="Lost Decade Games website">&#xA9; Lost Decade Games</a>
	
	<script src="lib/sm2/soundmanager2.js"></script>
	<script>
		soundManager.url = "lib/sm2/";
	</script>
	
	<script>{{GAME_CODE}}</script>
	
</body>
</html>
