<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="description" content="Onslaught! is an HTML5 game made by Lost Decade Games. Fight off the horde with medieval weapons and powerups!">
	<meta name="keywords" content="onslaught, html5, indie, browser-based, lost decade games, javascript, chiptunes, arcade, retro, oldschool, geoff blair, matt hackett, joshua morse">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/horde.css">
	<title>Onslaught! &bull; an HTML5 medieval fantasy shoot-em-up</title>
</head>
<body>

	<div class="hidden">
		<h1>Onslaught! by Lost Decade Games</h1>
		<p>
			<strong>Onslaught!</strong>
			is an HTML5 game made by <a href="http://lostdecadegames.com/">Lost Decade Games</a>.
		</p>
	</div>
	
	<a id="site_link" target="_blank" href="http://lostdecadegames.com" title="Lost Decade Games website">&#xA9; Lost Decade Games</a>
	
	<script>
		window.onslaughtScores = '{{ scores }}';
	</script>

	<script src="lib/sm2/soundmanager2.js"></script>
	<script>
		soundManager.url = "lib/sm2/";
	</script>
	
	<script>{{GAME_CODE}}</script>
	
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-16927444-5']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	
</body>
</html>
