@font-face {
	font-family: Cracked;
	src: url(../font/cracked.ttf);
}

html {
	background: #000 url(../img/frame_background.png);
}

html, body {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

#stage {
  position: relative;
}

canvas {
	border: solid 1px #111;
	margin-top: -240px;
	margin-left: -320px;

	position: absolute;
	left: 50%;
	top: 50%;

	width: 640px;
	height: 480px;

	background: #000;
	color: #f1f1f2;
}

.fallback {
	background: #000;
	color: #f1f1f2;
	font-family: Tahoma, Arial, Sans;
	text-align: center;
}

.fallback p {
	display: block;
}

.fallback a {
	color: #7c51a1;
	font-weight: bold;
}

.nav {
	border-bottom: solid 2px #3c3533;
  margin-bottom: 5px;
	padding: 5px 10px;

	overflow: hidden;

	background: #636467;
	font-family: Cracked, Tahoma, Arial;
	font-size: 24px;
}

.nav > ul {
  float: right;
	margin: 0;
	padding: 0;

	overflow: hidden;
}

.nav > ul li {
	float: left;
	list-style: none;
	margin-right: 30px;
}

.nav a {
	color: #f1f1f2;
	text-decoration: none;
	text-shadow: #000 1px 1px 1px;
	font-weight: bold;
}

.nav a:hover {
	color: #faa61a;
}
