html {
	background: #000 url(../img/frame_background.png);
}

html, body {
	margin: 0;
	padding: 0;
}

h1, p {
	display: none;
}

canvas {
	border: solid 1px #111;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -240px;
	margin-left: -320px;
	width: 640px;
	height: 480px;
	background: #000;
	color: #fff;
}

.fallback {
	background: #000;
	color: #fff;
	font-family: tahoma, arial, sans;
	text-align: center;
}

.fallback p {
	display: block;
}

.fallback a {
	font-weight: bold;
	color: #BE81F7;
}
